# Python Cache Files
__pycache__/
*.py[cod]
*.pyc

# Virtual Environment
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/
coverage.xml
test-results.xml

# IDE
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log